<!DOCTYPE html>
<html>
<head>
  <title>my apss</title>
 <%= render :partial => "shared/includes" %>
</head>
<body>
<div id="wrap">
<%= render :partial => "shared/header" %>

<%= yield %>

</div>

<%= render :partial => "shared/footer" %>

</body>
</html>
